<div>
    <canvas
        id="canvas"
        width="1024"
        height="1024"
        class="admin__control-text"
        data-bind="
        event: {change: userChanges},
        value: value,
        hasFocus: focused,
        valueUpdate: valueUpdate,
        attr: {
            name: inputName,
            placeholder: placeholder,
            'aria-describedby': noticeId,
            id: uid,
            disabled: disabled,
            maxlength: 255
    },
     afterRender: function (element) {
            onRender(element);
        },
"
    ></canvas>
</div>
<div style="margin-top:5px">
    <span>Size: </span>
    <input
        type="range"
        min="1"
        max="50"
        value="25"
        class="size"
        id="sizeRange"
    />
</div>
<div style="margin-top:5px; display: none">
    <span>Color: </span>
    <input type="radio" name="colorRadio" value="black" checked />
    <label for="black">Mask</label>
</div>
<div style="margin-top:5px">
    <p>
        Upload an image and use the brush to draw on it
    </p>
    <button class="file-uploader-button action-secondary" id="clear" >Clear</button>
    <input id="originalImage" class="file-uploader-button action-secondary"  type="file" accept="image/*" />
    <button data-bind="click: generateData" class="file-uploader-button action-primary" id="generate">Generate</button>
</div>




